/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.body {
  padding-top: 70px;
}
.form-register {
  margin-top: 50px;
}
.ui-toast {
  background-color: #EF9A9A;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
.text-center {
  text-align: center;
}
body .error {
  background-color: #EF9A9A;
  color: #a94442;
}
body .done {
  background-color: #d0f8ce;
  color: #42bd41;
}
.enter-form {
  max-width: 400px;
  margin: 30px auto 0;
  border: solid 1px #cacaca;
  padding: 20px;
  border-radius:5px;
}

.content-wrapper {
  margin-top:55px;
  background-color: #fafafa;
}
.ui-group {
  margin-bottom: 15px;
}
.form-horizontal {
  padding: 30px 20px;
  border:solid 1px #cacaca;
}
.block-header {
  padding: 15px 0;
  border-bottom:solid 1px #cacaca;
  color:#fff;
}
.bg-danger {
  background-color: #d26a5c;
}
