.body {
  padding-top: 70px;
}

.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}

body .error {
  background-color: #EF9A9A;
  color: #a94442;
}

.enter-form {
  max-width: 400px;
  margin: 30px auto 0;
  border: solid 1px #cacaca;
  padding: 20px;
  border-radius:5px;
}

.content-wrapper {
  margin-top:55px;
  background-color: #fafafa;
}

.bg-danger {
  background-color: #d26a5c;
}
