doctype html
html
   head
      title #{error}
      meta(content="text/html; charset=UTF-8")
      link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
   body
      div.container
         h1 Error
         p.text-danger #{message}