doctype html
html(ng-app='todo')
    head
        title Admin
        meta(content="text/html; charset=UTF-8")
        link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/index.css")

    body
        nav.navbar.navbar-default
            div.container
                .col-lg-12
                    div.navbar-header
                        a.navbar-brand Bulk Admin

                    ul.nav.navbar-nav.navbar-right
                        li(ui-nav='/register')
                            a(href='/#/register') Register

                         li(ui-nav='/login')
                            a(href='/#/login', ui-nav='/login') Login

        main
            section(ng-view).container

        script(type="text/javascript", src='components/angular/angular.min.js')
        script(type="text/javascript", src='components/angular-animate/angular-animate.min.js')
        script(type="text/javascript", src='components/angular-route/angular-route.min.js')
        script(type="text/javascript", src='components/ngstorage/ngStorage.min.js')
        script(type="text/javascript", src='scripts/app.js')
        script(type="text/javascript", src='scripts/AuthController.js')
        script(type="text/javascript", src='scripts/AdminController.js')
        script(type="text/javascript", src='scripts/AuthService.js')
        script(type="text/javascript", src='scripts/directives.js')