h3.text-center Авторизация

form(name='loginForm', method='POST', autocomplete="off", ng-submit='vm.login(loginForm.$valid)', novalidate).enter-form

   div.form-group
      label Имейл
      input(name='email', ng-model='useremail', type='email', required, ng-maxlength="50").form-control


   div.form-group
      label Пароль
      input(name='password', ng-model='pass', type='password', required, ng-minlength='5', ng-maxlength="30").form-control



   div.form-group
      button(type='submit').btn.btn-lg.btn-primary.btn-block
         span Войти