h3.text-center Регистрация

form(name='registerForm', method='POST', autocomplete="off", ng-submit='vm.registerUser(registerForm.$valid)', novalidate).enter-form

    .form-group
        label Логин
        input(name='name', ng-model='username', required, ng-minlength="2", ng-maxlength="15").form-control

        p.text-danger(ng-if='registerForm.name.$error.minlength && vm.submitted') Имя слишком короткое.
        p.text-danger(ng-if='registerForm.name.$error.maxlength && vm.submitted') Имя слишком долгое.
        p.text-danger(ng-if='registerForm.name.$error.required && vm.submitted') Поле обязательно.

    .form-group
        label Имейл
        input(name='email', ng-model='useremail', type='email', required, ng-maxlength="50").form-control

        p.text-danger(ng-if='registerForm.email.$invalid && vm.submitted') Введите верный email.
        p.text-danger(ng-if='registerForm.email.$error.required && vm.submitted') Поле обязательно.

    .form-group
        label Пароль
        input(name='password', ng-model='pass', type='password', required, ng-minlength='5', ng-maxlength="30").form-control


        p.text-danger(ng-if='registerForm.password.$error.minlength && vm.submitted')
            | Пароль короткий. Минимум 5 символов.
        p.text-danger(ng-if='registerForm.password.$error.maxlength && vm.submitted')
            | Пароль слишком долгий.
        p.text-danger(ng-if='registerForm.password.$error.required && vm.submitted') Поле обязательно.

    .form-group
        label Повторите пароль
        input(name='repassword', ng-model='reuserPass', type='password', required, ng-minlength='5', ng-maxlength="30").form-control

        p.text-danger(ng-if='registerForm.repassword.$error.minlength && vm.submitted')
            | Пароль короткий. Минимум 5 символов.
        p.text-danger(ng-if='registerForm.repassword.$error.maxlength && vm.submitted')
            | Пароль слишком долгий.
        p.text-danger(ng-if='registerForm.repassword.$error.required && vm.submitted') Поле обязательно.
        p.text-danger(ng-if='(reuserPass !== pass) && vm.submitted') Пароли не сходятся.

    .form-group
        button(type='submit').btn.btn-lg.btn-primary.btn-block
            span Зареєстрироватся

    .alert-danger.alert(ng-if='vm.error') {{vm.error}}
