h3.text-center Регистрация

form(name='registerForm', method='POST', autocomplete="off", ng-submit='vm.registerUser(registerForm.$valid)', novalidate).enter-form

    div.form-group
        label Логин
        input(name='name', ng-model='username', required, ng-minlength="2", ng-maxlength="15").form-control

        p.text-danger(ng-if='registerForm.name.$error.minlength && !registerForm.name.$untouched') Имя слишком короткое.
        p.text-danger(ng-if='registerForm.name.$error.maxlength && !registerForm.name.$untouched') Имя слишком долгое.
        p.text-danger(ng-if='registerForm.name.$error.required && !registerForm.name.$untouched') Поле обязательно.

    div.form-group
        label Имейл
        input(name='email', ng-model='useremail', type='email', required, ng-maxlength="50").form-control

        p.text-danger(ng-if='registerForm.email.$invalid && !registerForm.email.$untouched') Введите верный пароль.
        p.text-danger(ng-if='registerForm.email.$error.required && !registerForm.email.$untouched') Поле обязательно.

    div.form-group
        label Пароль
        input(name='password', ng-model='pass', type='password', required, ng-minlength='5', ng-maxlength="30").form-control


        p.text-danger(ng-if='registerForm.password.$error.minlength && !registerForm.password.$untouched')
            | Пароль короткий. Минимум 5 символов.
        p.text-danger(ng-if='registerForm.password.$error.maxlength && !registerForm.password.$untouched')
            | Пароль слишком долгий.
        p.text-danger(ng-if='registerForm.password.$error.required && !registerForm.password.$untouched') Поле обязательно.

    div.form-group
        label Повторите пароль
        input(name='repassword', ng-model='reuserPass', type='password', required, ng-minlength='5', ng-maxlength="30").form-control

        p.text-danger(ng-if='registerForm.repassword.$error.minlength && !registerForm.repassword.$untouched')
            | Пароль короткий. Минимум 5 символов.
        p.text-danger(ng-if='registerForm.repassword.$error.maxlength && !registerForm.repassword.$untouched')
            | Пароль слишком долгий.
        p.text-danger(ng-if='registerForm.repassword.$error.required && !registerForm.repassword.$untouched') Поле обязательно.
        p.text-danger(ng-if='(reuserPass !== pass) && !registerForm.repassword.$untouched') Пароли не сходятся.

    div.form-group
        button(type='submit').btn.btn-lg.btn-primary.btn-block
            span Зареєстрироватся