div.container
    h4 Создание сервисов
    p.help-block.clearfix
    table.table.table-bordered.table-hover
        thead
            tr
                th(colspan='6')
                        .row
                            form(name='addPerson', ng-submit='vm.createService(addPerson.$valid)').form-inline.col-lg-12

                                .col-lg-2.form-group.input-group.input-group-sm
                                    span.input-group-addon Login
                                    input(ng-model='login', required).form-control

                                .col-lg-2.col-lg-offset-1.form-group.input-group.input-group-sm
                                    span.input-group-addon IDP
                                    input(type='number', required, ng-model='idp').form-control

                                .col-lg-2.col-lg-offset-1.form-group.input-group.input-group-sm
                                    button(type='submit').btn.btn-primary.btn-sm Создать

                                .input-group.input-group-sm.pull-right
                                    .input-group-btn(ng-class='{"open": open}')
                                        button(type='button').btn.btn-default  Поиск по:
                                        button(type='button', ng-click='open = !open').btn.btn-default.dropdown-toggle
                                            | {{action || 'Всем'}}
                                            | &nbsp;
                                            span.caret
                                            span.sr-only
                                        ul.dropdown-menu
                                            li: a(href='javascript:void(0);', ng-click='action = false; open = false') Всем
                                            li: a(href='javascript:void(0);', ng-click='action = "Login"; open = false') Login
                                            li: a(href='javascript:void(0);', ng-click='action = "Idp"; open = false') IDP
                                            li: a(href='javascript:void(0);', ng-click='action = "Balance"; open = false') Баланс
                                            li: a(href='javascript:void(0);', ng-click='action = "Email"; open = false') Email
                                    input(ng-model='search').form-control
            tr
                th.text-center Id
                th.text-center Login
                th.text-center IDP
                th.text-center Баланс
                th.text-center Email для технической поддержки
                th.text-center Действия

        tbody
            tr(ng-repeat='s in vm.services | filter:vm.filterParam()')
                td.text-center {{$index + 1}}
                td.text-center {{s.login}}
                td.text-center {{s.idp}}
                td.text-center {{s.balance || 0}}
                td.text-center {{s.email || ""}}
                td.text-center
                    a(ng-href='#/services-lists/edit/{{s._id}}').btn.btn-primary.btn-sm.pull-left Редактировать
                    a(ng-click='vm.removeService(s._id)').btn.btn-danger.btn-sm.pull-right Удалить

            tr(ng-if='!vm.services.length')
                td(colspan='6')
                    h5.text-center.text-muted Сервисов пока не создано



